img{
    height:300px;
    width:300px;
    padding: 80px;
}


#viewchart{
    border: 1px solid black;    
}

#center{
    width: 300px;
    height: 150px;
    
    margin: 10px auto;
}
ul{
    margin-left: 500px;
}

header{text-align: center;background-color: #FFE1CE;font-size: 50px;height:80px;}

header h1{padding-top: 20px;font-family: 'Brush Script MT', cursive;}

body{
    
    margin: 0px;
    
}

article{
    text-align: center;
}

body{background-color: #FFF1F1;}


main article p{padding-top: 25px;font-family: Georgia, serif;}




#container{
    background-image:url(https://cdn.wallpapersafari.com/38/33/cg6M4y.jpg) ;
    margin-top: 20px;
}

